
.card {
    max-width: 600px;
    margin: auto;
    background: #fff; 
  }
.card-header {
    text-align: center;
  }

.span-required {
  display: none;
  font-size: 12px;
  margin: 3px 0 0 1px;
  color: red;
}
.modal-dialog-centraled {
  display: flex;
  align-items: center;
  justify-content: center;
}
