
  <div class="hero_area fixed">
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="top_nav_container">
            <a class="navbar-brand d-none d-lg-flex" href="index.html">
              <img src="images/Preview.png" width="120px" height="120px"/>
            </a>
            <div class="contact_nav">
			  <table>
				<tr>
					<td align="center"> <a href="pages/login.html">
                
                <img src="images/login.png" width="30px" height="30px"/>
              </a></td>
					<td align="center"> <a href="cart.html">
                
                <img src="images/cart.png"  width="20px" height="20px"/>
              </a></td>
				</tr>
				<tr>
					<td align="center" font="5px">Login</td>
					<td align="center" font="5px">Carrinho</td>
				</tr>
			  </table>	
            </div>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link pl-lg-0" href="index.html">Principal <span class="sr-only">(current)</span></a>
                </li>
               
                <li class="nav-item dropdown">
                  <a class="nav-link " href="cadastro.html" > Cadastre-se</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="cadastroVendedor.html">Como vendedor</a></li>
                    <li><a class="dropdown-item" href="cadastroUser.html">Como cliente</a></li>

                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contatos</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="service.html">Sobre nós</a>
                </li>
              </ul>
              
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <div>
    