
  
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="top_nav_container">
            <a class="navbar-brand d-none d-lg-flex" href="index.html">
              <img src="/images/Preview.png" width="120px" height="120px"/>
            </a>
            <div class="contact_nav">
			  <table>
				<tr>
					<td align="center"> <a href="pages/login.html">
                
                <img src="/images/login.png" width="30px" height="30px"/>
              </a></td>
					<td align="center"> <a href="cart.html">
                
                <img src="/images/cart.png"  width="20px" height="20px"/>
              </a></td>
				</tr>
				<tr>
					<td align="center" font="5px">Login</td>
					<td align="center" font="5px">Carrinho</td>
				</tr>
			  </table>	
            </div>
          </div>
        </div>
     <hr style="border: 1px solid black;">
      
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <div>
    