
  
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="top_nav_container">
            <a class="navbar-brand d-none d-lg-flex" href="/index.html">
              <img src="/images/Preview.png" width="120px" height="120px"/>
            </a>
            <div class="contact_nav">
			  
            </div>
          </div>
        </div>
     <hr style="border: 1px solid black;">
      
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <div>
    