<header class="header_section">
  <div class="header_top">
    <div class="container-fluid">
      <div class="top_nav_container">
        <a class="navbar-brand d-none d-md-flex" href="/index.html">
          <img src="/images/Preview.png" width="120px" height="120px" />
        </a>
        <a class="navbar-brand d-none d-md-flex p-3" href="/index.html">
          <img src="/images/login.png" width="40px" height="40px"/>
        </a>
        
      </div>
    </div>
    <hr style="border: 1px solid black;">
</header>